* {
  box-sizing: border-box;
}

body {
  font-family: fantasy;
  background-color: #b3cffc;
  margin: 0%;
}

/*Header Styling*/

header {
  background-color: #fff;
  width: 100%;
  padding: 1.5em;
}

.nav-container {
  display: flex;
}

.left-nav {
  flex: 4;
}

.right-nav {
  flex: 1;
}

/*Left Menu Styling*/

.left-menu {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.left-menu i {
  padding-right: 1em;
  font-size: 1.5em;
}

.left-menu h2 {
  margin: 0;
  padding-right: 1em;
  line-height: 1;
  text-transform: uppercase;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:hover {
  background-color: #7ba9f2;
  color: #fff;
}

/*Right Menu Styling*/

.right-menu {
  display: flex;
}

.right-menu i {
  padding-right: 1em;
}

.right-menu span {
  position: relative;
  padding-right: 1em;
}

.right-menu span::after {
 content: "";
 border-left: 5px solid transparent;
 border-right: 5px solid transparent;
 border-top: 10px solid #000;
 position: absolute;
 right: 0;
 margin-right: -8px;
 top: 6px;
}

.logo-container {
  width: 80%;
  text-align: right;
}
.logo {
  width: 85%;
  border-radius: 30%
}

/*Main Body*/
.main-content{
  padding: 0 1.5em;
}

h1 {
  font-size: 3em;
  margin: 1% 0;
  color: #000;
}

.all-card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* #region start Card Styles */

.card-container {
  background-color: #fff;
  width: 23%;
}

#boxshadow {
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
}

/* #endregion start Card Styles */


/*Card Images and Styling*/

.cardImage1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Mind01.jpeg");
}
.cardImage2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Body01.jpeg");
}
.cardImage3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Spirit01.jpeg");
}
.cardImage4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Mind02.jpeg");
}
.cardImage5 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Body02.jpeg");
}
.cardImage6 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Spirit02.jpeg");
}
.cardImage7 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Mind03.jpeg");
}
.cardImage8 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Body03.jpeg");
}

.card-image{
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  padding: 7% 6%;
  width: 95%;
  height: 195px;
  color: #fff;
}
.icon-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/*Card Content Styling*/

h3, h2, p, img {
  padding: 0%;
  margin: 0%;
  text-align: left;
}

.card-content {
  width: 100%;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}

.button{
  margin: 2%;
}


button {
  background-color: #b3cffc;
  width: 90%;
  height: 2%;
  margin: 0;
  padding: 5%;
}

.card-content-bottom{
  box-shadow: solid 1em #000;
  width: 100%;
  margin: 4%;
  padding: 2%;
  display: inline-block;
}


/*Media Queries*/


/*media query 900
.card-container{
      width: 48%;
    margin: 1%;
}

.all-card-container{
      display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    }*/

    
