* {
  box-sizing: border-box;
}

body {
  background-color: #b3cffc;
  font-family: fantasy;
  margin: 0;
}

header {
  background-color: #fff;
  padding: 1.5em;
  width: 100%;
}

.main-menu {
  display: flex;
  min-height: 54px;
}

.left-nav {
  flex: 4;
}

.right-nav {
  flex: 1;
}

.left-menu {
  align-items: flex-end;
  display: flex;
  height: 100%;
}

.left-menu i {
  font-size: 1.5em;
  padding-right: 1em;
}

.left-menu h2 {
  line-height: 1;
  margin: 0;
  padding-right: 1em;
  font-size: 1.5em;
  text-transform: uppercase;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:hover {
  background-color: #7ba9f2;
  color: #fff;
}

.right-menu {
  display: flex;
}

.right-menu i {
  padding-right: 1em;
}

.right-menu span {
  padding-right: 1em;
  position: relative;
}

.right-menu span::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000;
  content: "";
  margin-right: -8px;
  position: absolute;
  right: 0;
  top: 6px;
}

.logo-container {
  text-align: center;
  width: 80%;
}
.logo {
  border-radius: 30%/55%;
  width: 44%;
}

.main-content {
  padding: 0 1.5em;
}

h1 {
  color: #000;
  font-size: 3em;
  margin: 1% 0;
}

.all-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 2px;
  width: 100%;
}

.card-container {
  background-color: #fff;
  margin: 1%;
  width: 23%;
}

#box-shadow {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  position: relative;
}

.card-image1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Mind01.jpeg");
}

.card-image2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Body01.jpeg");
}

.card-image3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Spirit01.jpeg");
}

.card-image4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Mind02.jpeg");
}

.card-image5 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Body02.jpeg");
}

.card-image6 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Spirit02.jpeg");
}

.card-image7 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Mind03.jpeg");
}

.card-image8 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Body03.jpeg");
}

.card-image {
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 195px;
  margin: 2%;
  padding: 7% 6%;
  width: 95%;
}

.icon-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 78%;
}

.icon-text h3 {
  margin: 4px;
  font-size: 1em;
}

h3,h2, img {
  margin: 8px;
  text-align: left;
  display: contents;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  padding: 2%;
  width: 100%;
}

.button {
  margin: 2%;
}


button {
  background-color: #b3cffc;
  height: 2%;
  margin: 0;
  padding: 5%;
  width: 90%;
}

.card-content-bottom {
  box-shadow: solid 1em #000;
  display: inline-block;
  margin: 4%;
  padding: 2%;
  width: 100%;
}


/*Media Queries*/


@media screen and (max-width: 895px) {
  .right-nav {
    min-width: 2px;
  }

}

@media screen and (max-width: 772px) {
  .all-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 10px;
    width: 100%;
  }

}

@media screen and (max-width: 650px) {
  .left-menu {
    align-items: flex;
    display: block;
    height: 100%;
  }

  .card-container {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 2px;
    width: 29%;
  }

  @media screen and (max-width: 500px){

    .card-container {
      display: block;
      justify-content: space-between;
      min-width: 2px;
      width: 100%;
    }
  }
